@media screen and (min-width: 768px) {
    .about img {
        flex: 25;
    }

    .about-container {
        flex: 75
    }

    .about-lower {
        flex-direction: row;
        gap: 20px;
    }

    .about-lower-row1,
    .about-lower-row2,
    .about-lower-row3,
    .about-lower-row4 {
        gap: 10px;
    }

    .service-container {
        flex-direction: row;
        margin: 0 20px;
    }

    .ex-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    #work {
        display: none;
    }

    .work-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        color: var(--color);
        cursor: pointer;
    }

    .rw-container-row1,
    .rw-container-row2 {
        display: flex;
        gap: 30px;
    }

    .pricing-plan-container {
        flex-direction: row;
    }

    .logo-box {
        flex-direction: column;
        gap: 50px;
    }

    .logo-box1,
    .logo-box2 {
        flex-direction: row;
        gap: 100px;
    }

    .post-box-container {
        flex-direction: row;
    }

    .get-in-touch {
        display: flex;
        flex-direction: column;
    }

    .reponsive-contact {
        display: flex;
    }

    .contact-h3-p {
        flex: 30;
    }

    .form {
        flex: 60;
        margin-top: none;
    }

    .name-email {
        display: flex;
        flex-direction: row;
    }

    #input-name {
        flex: 50;
    }

    #input-email {
        flex: 50;
    }

}

@media screen and (min-width: 1024px) {
    .home-header-mobile {
        display: none;
    }

    .home-header-desktop {
        display: flex;
        flex-direction: column;
        gap: 130px;
        position: fixed;
        margin-left: 20px;
        left: 0;
        width: 30%;
        align-content: space-around;
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .vertical-menu i {
        color: #FFD15C;
        width: 16px;
        height: 16px;
        margin-right: 20px;
    }

    .vertical-menu li {
        list-style: none;
        display: flex;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
    }

    .site-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end
    }

    .body-container {
        width: 80%;
    }

    .home-header-desktop p {
        color: #9c9ab3;
        font-size: 14px;
        display: inline;
    }

    .about-lower {
        justify-content: space-around;
    }

    .home-content {
        margin-top: 300px;
    }

    .vertical-menu a{
        color: white;
        text-decoration: none;
    }

}