@media screen and (min-width: 768px) {
    .about-row img {
        max-width: 20%;

    }

    .about-container {
        max-width: 70%;
    }

    .about-row {
        flex-direction: row;
        margin: 0 15px;
    }

    .about-lower {
        flex-direction: row;
        gap: 20px;
    }

    .service-container {
        flex-direction: row;
        margin: 0 20px;
    }

    .ex-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 90%;
        margin: auto;
    }

    .work-bar {
        display: none;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        color: var(--color);
        cursor: pointer;
    }

    .rw-content {
        display: flex;
        flex-wrap: wrap;
    }

    .rw-card {
        width: 30%;
        margin: auto;
    }

    .pricing-plan-container {
        flex-direction: row;
        width: 90%;
        gap: 5px;
    }

    .logo-box {
        flex-wrap: wrap;
    }

    .logo-box img {
        width: 25%;
    }

    .post-box-container {
        flex-direction: row;
        width: 90%;
    }

    .get-in-touch {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .reponsive-contact {
        display: flex;
    }

    .contact-h3-p {
        flex: 30;
    }

    .form {
        flex: 60;
        margin-top: none;
    }

    .name-email {
        display: flex;
        flex-direction: row;
    }

    #input-name {
        flex: 50;
    }

    #input-email {
        flex: 50;
    }

}

@media screen and (min-width: 1024px) {
    .home-header-mobile {
        display: none;
    }

    .home-header-desktop {
        display: flex;
        flex-direction: column;
        gap: 130px;
        position: fixed;
        margin-left: 20px;
        left: 0;
        width: 30%;
        align-content: space-around;
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .vertical-menu i {
        color: #FFD15C;
        width: 16px;
        height: 16px;
        margin-right: 20px;
    }

    .vertical-menu li {
        list-style: none;
        display: flex;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
    }

    .site-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end
    }

    .body-container {
        width: 80%;
    }

    .home-header-desktop p {
        color: #9c9ab3;
        font-size: 14px;
        display: inline;
    }

    .about-lower {
        justify-content: space-around;
    }

    .home-content {
        margin-top: 300px;
    }

    .vertical-menu a {
        color: white;
        text-decoration: none;
    }

    .select-work {
        display: none;
    }

    .work-bar {
        display: flex;
        justify-self: flex-start;
    }

}