:root {
    --background-color: #353353;
    --color: #fff;
    --font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    font-family: var(--font);
}

.home {
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

.home-header-desktop {
    display: none;
}

.home-header-mobile {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 174px;
    padding: 10px;
}

.home-header-mobile img,
.home-header-desktop img {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.home-header-mobile i {
    font-size: 30px !important;
    color: #fff;
    background-color: var(--background-color);
}

.home-header-mobile button {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

.home-content p {
    font-size: 16px;
    font-weight: 400;
}

.home-content img {
    width: 110px;
    height: 110px;
}

.home-content__icon {
    display: flex;
    gap: 30px;
}

.home-content__icon i {
    cursor: pointer;
}

.home-content button {
    width: 130px;
    height: 40px;
    border: 2px solid #FF4C60;
    background-color: #FF4C60;
    border-radius: 20px;
    color: #fff;
    font-family: var(--font);
    font-weight: 700;
    cursor: pointer;
}

.mouse-scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 150px;
}

.mouse {
    width: 20px;
    height: 26px;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wheel {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #fff;
    display: block;
    top: 4px;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    10% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(5px);
        opacity: 0;
    }
}

.about {
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.about img {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    border-radius: 100%;
    background-color: #FF4C60;
    margin: auto;
}

.about-container {
    width: 100%;
    background-color: #302f4e !important;
    border: 1px solid #302f4e;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
}

.about-container button {
    width: 170px;
    height: 40px;
    border-radius: 30px;
    background-color: #FF4C60;
    color: #fff;
    font-family: var(--font);
    font-weight: 700;
    border: 2px solid #FF4C60;
    cursor: pointer;
}

.chart-info {
    display: flex;
    justify-content: space-between;
}

.about-lower {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 110px;
    margin-top: 60px;
    width: 100%;
}

.about-lower-row1,
.about-lower-row2,
.about-lower-row3,
.about-lower-row4 {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.h3-p {
    display: flex;
    flex-direction: column;
}

.about-lower i {
    width: 37px;
    height: 37px;
    font-size: 33px;
}

.services {
    width: 100%;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 110px;
}

.service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.services-card1,
.services-card2,
.services-card3 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
}

.services-card1 {
    background-color: rgb(108, 108, 229);
}

.services-card2 {
    background-color: rgb(249, 215, 76);
}

.services-card3 {
    background-color: rgb(249, 123, 139);
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color);
}

.ex-1,
.ex-2 {
    width: 80%;
    background-color: #302f4e !important;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    gap: 56px;
    flex-direction: column;

}

.ex-content .time {
    font-size: 14px;
    margin-bottom: 14px;
    color: #8b88b1;
}

.ex-content h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ex-content p {
    font-size: 16px;
}

.recent-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--color);
    margin-bottom: 120px;
}

.recent-work select {
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
}

.rw-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rw-container1 img,
.rw-container2 img,
.rw-container3 img,
.rw-container4 img,
.rw-container5 img,
.rw-container6 img {
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
}

.rw-container1:hover .rw-hover1,
.rw-container2:hover .rw-hover2,
.rw-container3:hover .rw-hover3,
.rw-container4:hover .rw-hover4,
.rw-container5:hover .rw-hover5,
.rw-container6:hover .rw-hover6 {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.rw-hover1,
.rw-hover2,
.rw-hover3,
.rw-hover4,
.rw-hover5,
.rw-hover6 {
    display: none;
}

.rw-hover1 label,
.rw-hover2 label,
.rw-hover3 label,
.rw-hover4 label,
.rw-hover5 label,
.rw-hover6 label {
    background-color: #FF4C60;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
}

.rw-hover1 h4,
.rw-hover2 h4,
.rw-hover3 h4,
.rw-hover4 h4,
.rw-hover5 h4,
.rw-hover6 h4 {
    position: absolute;
    top: 30%;
    opacity: 0;
    font-size: 20px;
}

.rw-hover1 i,
.rw-hover2 i,
.rw-hover3 i,
.rw-hover4 i,
.rw-hover5 i,
.rw-hover6 i {
    position: absolute;
    color: #FFF;
    font-size: 20px;
    display: block;
    background: #FFD15C;
    border-radius: 100%;
    height: 40px;
    line-height: 42px;
    text-align: center;
    bottom: 20px;
    left: 20px;
    width: 40px;
}

.thumb {
    position: relative;
    width: 100%;
}

.mask {
    background: #6C6CE5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.recent-work button {
    color: #FFF;
    background: #FF4C60;
    padding: 12px 32px;
    border-radius: 20px;
    border: 1px solid #FF4C60;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 40%;
    margin: auto;
    cursor: pointer;
}

.pricing-plan {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color);
}

.pricing-plan-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;

}

.pricing-plan-box1,
.pricing-plan-box2,
.pricing-plan-box3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #302f4e !important;
    border: 1px solid #302f4e;
    border-radius: 20px;
    padding: 30px;
    gap: 24px;
    text-align: center;
}

.pricing-plan-box1 button,
.pricing-plan-box2 button,
.pricing-plan-box3 button {
    color: #FFF;
    background: #FF4C60;
    padding: 12px 32px;
    border-radius: 20px;
    border: 1px solid #FF4C60;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.pricing-plan-box2 {
    position: relative;
}

.recommend label {
    background-color: rgb(108, 108, 229);
    padding: 5px 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 14px;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: scale(-0.9);
}

.price {
    font-size: 36px;
    font-weight: 700;
}

.price-month {
    display: flex;
    gap: 10px;
    align-items: center;
}

.review-box2 {
    display: none;
}

.clients-review {
    width: 100%;
    color: var(--color);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.client-review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.review-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.logo-box {
    display: flex;
    flex-direction: row;
    gap: 200;
    margin-top: 100px;
    margin-bottom: 110px;
}

.logo-box1,
.logo-box2 {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: auto;
}

.latest-post {
    width: 100%;
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 110px;
}

.post-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 30px;
}

.latest-post h2 {
    margin-bottom: 60px;
}

.post-box1 img,
.post-box2 img,
.post-box3 img {
    width: 100%;
    border: 1px solid #302f4e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.post-box1,
.post-box2,
.post-box3 {
    width: 100%;
    border: 1px solid #302f4e;
    border-radius: 20px;
    background-color: #302f4e;
    position: relative;
}

.label-absolute {
    background-color: #ff4c60;
    border-radius: 0px 0px 15px 15px;
    color: #ffffff;
    font-size: 14px;
    line-height: 23.8px;
    padding: 2px 8px;
    position: absolute;
    top: 0;
    left: 5%;
}

.post-detail {
    font-size: 14px;
    color: #8b88b1;
}

.detail1,
.detail2,
.detail3 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail1 h3:hover {
    cursor: pointer;
    color: #FF4C60;
}

.detail2 h3:hover {
    cursor: pointer;
    color: #FF4C60;
}

.detail3 h3:hover {
    cursor: pointer;
    color: #FF4C60;
}

.get-in-touch {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color);
    text-align: start;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 50px;
}

.form input {
    padding: 20px;
    border-radius: 30px;
}

#input-message {
    height: 150px;
}

.form button {
    color: #FFF;
    background: #FF4C60;
    padding: 12px 32px;
    border-radius: 20px;
    border: 1px solid #FF4C60;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    align-items: flex-start;
    width: 40%;
    cursor: pointer;
}

.body-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-title {
    text-align: start !important;
    font-size: 36px;
    font-weight: 700;
    margin-left: 15px;
    margin-bottom: 60px;
}

.services p {
    margin: auto;
}

.work-bar {
    display: none;
}

.name-email {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-h3-p {
    margin-bottom: 120px;
}